[Desktop Entry]
Type=Application
Version=1.0
Name=Install Amfre
GenericName=Amfre Installer
Exec=calamares-install-debian
Comment=Calamares — Installer for Amfre
Keywords=calamares;system;install;debian;installer
Icon=/usr/share/icons/amfre/install.png
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
